.input-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.input-container input{
    text-align: left;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    width: 100%;
    background: var(--interactive);
    color: white;
}

.specific-round{
    border-radius: 0 4rem 4rem 0 !important;
}

.combined{
    gap: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

@keyframes shaking {

    50%{
        scale: 1.04;
        background: rgba(255, 0, 0, 0.5);
        /* filter: blur(0.1rem); */
    }
}

.shaking{
    animation-name: shaking;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}