.user{
    width: 100%;
    background: var(--interactive-l);
    border-radius: 4rem;
    font-weight: 400;
    display: flex;
    padding: 0 1rem;
    box-sizing: border-box;
    gap: 0.5rem;
    /* justify-content: space-between; */
}
