@keyframes smooth {
    from{
        opacity: 0;
        scale: 0.5;
        transform: rotate(45deg);
    }

    to{
        opacity: 100%;
        scale: 1;
        transform: rotate(0deg);
    }
}

.smooth{
    animation-name: smooth;
    animation-duration: 0.33s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}